
/* Cosas en común entre los 3 html */
@font-face {
  font-family: 'Stay-Writer-Normal';
  src: url('../font/StayWriterBold700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stay-Writer-Thin';
  src: url('../font/StayWriterHandmade400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-tittle-1: 'Stay-Writer-Normal', sans-serif;
  --font-tittle-2: 'Stay-Writer-Thin', sans-serif;
  --text-font: 'Montserrat', sans-serif;
  --webkit-color-1: #101010;
  --webkit-color-2: rgb(16, 16, 16, 0.6);
}

/* Desktop */
p {
  font-family: var(--text-font);
  font-size: clamp(14px, 1.5vw, 18px);
  color: #FFFFFF;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--webkit-color-1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 7em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 1000;
}

#logo-menu{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu img {
  height: 50%;
  width: auto;
  object-fit: cover;
}

#nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);  
}

#nav-menu > div:first-child > i,
#nav-menu > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul {
  display: flex;
  gap: 3em;
}

#nav-menu a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(12px, 2vw, 14px);
  font-family: 'Lato', sans-serif;
  /* font-weight: 700 !important; */
  
}

.link{
  color: rgb(255, 255, 255);
}

.current_page{
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#nav-menu a:hover {
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#first-part {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(var(--webkit-color-2)), url("../img/decoración/fondo 1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#firs-part-title {
  margin: auto;
  width: 70%;
  height: auto;
}


