
/* Cosas en común entre los 3 html */
@font-face {
  font-family: 'Stay-Writer-Normal';
  src: url('../font/StayWriterBold700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stay-Writer-Thin';
  src: url('../font/StayWriterHandmade400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-tittle-1: 'Stay-Writer-Normal', sans-serif;
  --font-tittle-2: 'Stay-Writer-Thin', sans-serif;
  --text-font: 'Montserrat', sans-serif;
  --webkit-color-main: #101010;
  --webkit-color-transparency-1: rgb(16, 16, 16, 0.8);
  --webkit-color-details: #f9b233;
  --webkit-color-transparency-2: rgba(63, 45, 14, 0.7);
  --webkit-color-text: #FFFFFF;
}

/* Desktop */
p {
  font-family: var(--text-font);
  font-size: clamp(14px, 1.5vw, 18px);
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

h1, h2 {
  font-family: var(--font-tittle-1);
  font-size: 12em;
  color: var(--webkit-color-details);
}

h2 {
  font-size: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/* html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: var(--webkit-color-main);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section, footer {
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 6em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 1000;
}

#logo-menu{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  background-color: rgba(143, 143, 143, 0.2);
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu a {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-menu img {
  height: 65%;
  width: auto;
  object-fit: cover;
}

#nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  background-color: rgba(143, 143, 143, 0.2);
  backdrop-filter: blur(12px);  
}

#nav-menu > div:first-child > i,
#nav-menu > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul {
  display: flex;
  gap: 3em;
}

#nav-menu a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1em;
  font-family: var(--font-tittle-1);
  
}

.link{
  color: var(--webkit-color-text);
}

.current_page{
  background: var(--webkit-color-details);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#nav-menu a:hover {
  background: var(--webkit-color-details);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

/* .sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #section-1 {
  z-index: 1;
} */

#first-part, #second-part, #third-part, #fourth-part, #fifth-part, #first-part2, #second-part2, #third-part2, #fourth-part2, #fifth-part2, #sixth-part2, #seventh-part2 , #eighth-part2 , #ninth-part2 , #tenth-part2 , #eleventh-part2, #twelfth-part2 {
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 0;
  border-top-left-radius: 6em;
  border-top-right-radius: 6em;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#first-part {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url("https://rutastoledoapie.es/wp-content/uploads/2022/07/Inmortal-1-rutas-por-toledo-rutastoledoapie.es_.webp");
  z-index: 0;
}

/* #first-part::after {
  position: fixed;
} */

#first-part div > figure {
  /* display: flex; */
  flex-direction: column;
  /* justify-content:center;
  align-items: center; */
  width: 100%;
  height: auto;
}

#first-part-title {
  /* margin: auto; */
  width: 70vw;
  height: auto;
  display: block;
  /* margin-bottom: 3em; */
}

#first-part2 {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url("https://ik.imagekit.io/a8ydbgcop/Trabajo%20Web%20Toledo/5_2_catedral.jpg");
  top: 0;
  z-index: 0;
}

#second-part, #second-part2 {
  z-index: 1;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   flex-direction: row;
}

#second-part::before, #third-part::before, #fourth-part::before, #fifth-part::before, #second-part2::before, #third-part2::before, #fourth-part2::before, #fifth-part2::before, #sixth-part2::before, #seventh-part2::before , #eighth-part2::before , #ninth-part2::before , #tenth-part2::before , #eleventh-part2::before, #twelfth-part2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  transform: scale(1.05);
  z-index: -1; 
}

#second-part::before, #fourth-part::before {
   background-image: linear-gradient(var(--webkit-color-transparency-2)), url("../img/decoración/fondo-1.png");
}

#third-part::before, #fifth-part::before {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url("../img/decoración/fondo-2.jpg");
}

#second-part2::before, #fourth-part2::before, #sixth-part2::before, #eighth-part2::before , #tenth-part2::before, #twelfth-part2::before {
   background-image: linear-gradient(var(--webkit-color-transparency-1)), url("../img/decoración/fondo-2.jpg");
}

#third-part2::before, #fifth-part2::before, #seventh-part2::before , #ninth-part2::before, #eleventh-part2::before {
   background-image: linear-gradient(var(--webkit-color-transparency-2)), url("../img/decoración/fondo-1.png");
}

#second-part >div, #third-part >div, #second-part2 >div, #third-part2 >div, #fourth-part2 >div, #fifth-part2 >div, #sixth-part2 >div, #seventh-part2 >div , #eighth-part2 >div , #ninth-part2 >div , #tenth-part2 >div, #eleventh-part2 >div, #twelfth-part2 >div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8em;
  max-width: 80vw;
  padding: 2em;
}

#second-part img, #third-part img  {
  width: auto;
  height: 80vh;
}

#second-part2 img, #third-part2 img, #fourth-part2 img, #fifth-part2 img, #sixth-part2 img, #seventh-part2 img , #eighth-part2 img , #ninth-part2 img , #tenth-part2 img, #eleventh-part2 img {
  width: auto;
  height: 100vh;
}

#second-part img, #third-part img {
  outline: 1em solid azure;
  outline-offset: -1em;
}

#second-part img {
  transform: rotate(-9deg);
}

#second-part p, #third-part p, #fourth-part p, #fifth-part p, footer p, #modal-form p, #second-part2 p, #third-part2 p, #fourth-part2 p, #fifth-part2 p, #sixth-part2 p, #seventh-part2 p , #eighth-part2 p , #ninth-part2 p , #tenth-part2 p, #eleventh-part2 p, #twelfth-part2 p {
  font-size: 1.5em;
  /* max-width: 70vw; */
  margin-bottom: 1em;
  text-align: left;
}

.stack {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position:relative;
}

#third-part, #third-part2 {
  z-index: 2;
  flex-direction: row;
}

#third-part img {
  transform: rotate(9deg);
}

#fourth-part, #fourth-part2 {
 z-index: 3;
 flex-direction: column;
}

#fourth-part2 {
  flex-direction: row;
}

#fourth-part >div {
  max-width: 80vw;
  padding: 2em;
}

#fourth-part p {
  margin-bottom: 3em;
}

#carousel {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
}

.photos {
  display: flex;
  width: max-content;
  animation: slide 70s linear infinite;
}

.photos img {
  width: auto;
  height: 60vh;
  flex-shrink: 0;
  margin: 0 0.1em;
  border-radius: 1em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

#fifth-part, #fifth-part2 {
  z-index: 4;
  flex-direction: row;
}

#fifth-part >div {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

iframe {
  width: 41vw;
  height: 60vh;
  border: none;
  border-radius: 1em;
}

#sixth-part2, #seventh-part2 , #eighth-part2 , #ninth-part2 , #tenth-part2 , #eleventh-part2, #twelfth-part2 {
  flex-direction: row;
}

#sixth-part2{
  z-index: 5;
}

#seventh-part2 {
  z-index: 6;
}

#eighth-part2 {
  z-index: 7;
}

#ninth-part2 {
  z-index: 8;
}

#tenth-part2 {
  z-index: 9;
}

#eleventh-part2 {
  z-index: 10;
}

#twelfth-part2 {
  z-index: 11;
}

#twelfth-part2 >div {
  flex-direction: column;
}

#graphic-cont {
  width: 100%;
  max-width: 38em;
  margin: auto;
}

canvas {
  width: 60vw; /*60vw*/
  height: 60vh; /*60vh*/
}

/* Footer */
footer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 5em; */
  background-color: var(--webkit-color-main);
  z-index: 11;
  border-top-left-radius: 6em;
  border-top-right-radius: 6em;
  gap: 8em;
}

/* #footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
} */

footer p {
  max-width: 40vw;
  color: var(--webkit-color-details);
  margin-bottom: 3em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 28em;
  gap: 2em;
  justify-content: center;
}

.label {
    display: none;
}

#name, #surname, #email, /*#phone-number*/ .confirm {
  color:var(--webkit-color-main);
  height: 2.5em;
  border-radius: 3em;
  background-color: #FFFFFF;
  border: none;
  font-family: var(--font-tittle-1);
  font-weight: bolder;
  font-size: 1.2em;
}


#name, #surname, #email /*#phone-number*/{
  background-color: #FFFFFF;
  padding-left: 1.5em;
}

.confirm {
  background-color: var(--webkit-color-details);
  margin-top: 2.5em;
  width: 20vw;
  align-self: center;
}

.confirm:hover {
  cursor: pointer;
  background-color: var(--webkit-color-text);
}

#logo-footer {
  height: 3em;
  margin-top: 6em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-footer img {
  height: 20vh;
  width: auto;
  object-fit: cover;
}

.social-webs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 7em;
  margin-bottom: 2em;
}

.social-webs a {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: var(--webkit-color-text);
}

.social-webs a:hover {
  color: var(--webkit-color-details);
  cursor: pointer;
}

.social-webs li {
  list-style: none;
  display: flex;
}

#modal-form {
    position: fixed;
    z-index: 12;
    top: 15vh;
    /* left: 20%; */
    width: 30vw;
    height: 62vh;
    background-color: var(--webkit-color-transparency-2);
    backdrop-filter: blur(12px);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    padding: 2em;
}

#modal-form p {
  text-align: center;
}

#back-home{
  font-size: 1.2rem;
    font-family: var(--font-tittle-1);
    display: flex;
    align-items: center;
    color: var(--webkit-color-text);
    background-color:var(--webkit-color-details);
    padding: 0.7em 2em;
    border-radius: 2em;
    border: none;
    width: 100%;
    justify-content: center;
    margin-top: 4em;
}

#back-home:hover {
  cursor: pointer;
  background-color: var(--webkit-color-main);
}

@media (min-width: 1024px){

  h1 {
    font-size: 11em;
  }

  #menu {
    height: 2em;
  }
  
  #fourth-part >div {
    height: 60vh;
  }

  #second-part >div, #third-part >div, #second-part2 >div, #third-part2 >div, #fourth-part2 >div, #fifth-part2 >div, #sixth-part2 >div, #seventh-part2 >div , #eighth-part2 >div , #ninth-part2 >div , #tenth-part2 >div, #eleventh-part2 >div, #twelfth-part2 >div {
  gap: 3em;
  }
  
  #second-part p, #third-part p, #fourth-part p, #fifth-part p, footer p, #modal-form p, #second-part2 p, #third-part2 p, #fourth-part2 p, #fifth-part2 p, #sixth-part2 p, #seventh-part2 p , #eighth-part2 p , #ninth-part2 p , #tenth-part2 p, #eleventh-part2 p, #twelfth-part2 p {
  font-size: 1em;
  }

  #fourth-part p {
    margin-bottom: 2em;
  }

  .photos img {
    height: 57vh;
  }

  canvas {
    width: 45vw; 
    height: 60vh; 
  }

  #twelfth-part2 >div {
    gap: 1em;
  }

  footer {
    flex-direction: row;
    gap: 6em;
  }

  footer p {
    max-width: 50vw;
    margin-top: 8em;
  }

  #footer-end {
    display: none;
  }

  form {
    gap: 1.5em;
    width: 27em
  }

  #name, #surname, #email, .confirm {
    height: 2.1em;
    font-size: 1.1em;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  h1 {
    font-size: 8em;
  }

  menu {
    padding-left: 4em;
    padding-right: 4em;
    height: 4em;
  }

  #nav-menu a {
    font-size: 1.2em;
  }

  #second-part >div, #third-part >div, #second-part2 >div, #third-part2 >div, #fourth-part2 >div, #fifth-part2 >div, #sixth-part2 >div, #seventh-part2 >div , #eighth-part2 >div , #ninth-part2 >div , #tenth-part2 >div, #eleventh-part2 >div, #twelfth-part2 >div {
  flex-direction: column-reverse;
  gap: 2em;
  }

  #second-part p, #third-part p, #fourth-part p, #fifth-part p, footer p, #modal-form p, #second-part2 p, #third-part2 p, #fourth-part2 p, #fifth-part2 p, #sixth-part2 p, #seventh-part2 p , #eighth-part2 p , #ninth-part2 p , #tenth-part2 p, #eleventh-part2 p, #twelfth-part2 p {
  font-size: 1.2em;
  }

  .stack {
    overflow: hidden;
    height: 52vh;
  }

  #second-part2 img, #third-part2 img, #fourth-part2 img, #fifth-part2 img, #sixth-part2 img, #seventh-part2 img , #eighth-part2 img , #ninth-part2 img , #tenth-part2 img, #eleventh-part2 img {
    height: 70vh;
  }

  #second-part img, #third-part img {
    height: 55vh;
    margin: 2em;
  }

  #fourth-part >div {
    height: 70vh;
  }

  #fourth-part p {
    margin-bottom: 6em;
  }

  .photos img {
    height: 60vh;
  }

  #fifth-part >div {
    flex-direction: column;
    gap: 6em;
  }

  #twelfth-part2 >div {
    gap: 4em;
    flex-direction: column;
  }

  iframe {
    width: 75vw;
    height: 50vh;
  }

  footer {
    flex-direction: column;
    gap: 3em;
  }

  footer p {
    max-width: 80vw;
  }

  #footer p {
    max-width: 50vw;
    font-size: 1.3em;
  }

  form {
    width: 38em;
  }

  .confirm {
    width: 32vh;
  }

  #name, #surname, #email, .confirm {
    height: 2.5em;
  }

  #footer-end {
    height: 13vh;
  }

  #logo-footer img {
    height: 10vh;
  }

  .social-webs {
    margin-top: 5em;
  }

  #modal-form {
    width: 52vw;
    height: 40vh;
    top: 28vh;
  }

}

@media (max-width: 767px) {

  #logo-menu {
    padding-left: 2em;
    padding-right: 2em;
  }

  #nav-menu {
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 10em;
}
   
  #nav-menu > div:first-child > i {
      display: block;
      cursor: pointer;
      color: var(--webkit-color-details);
      font-size: 1.5rem;
   }

  #nav-menu > div:first-child > ul {
        position: fixed;
        top: 27vh;
        /* left: -16.7em; */
        right: 100vw;
        width: 100vw;
        height: 30vh;
        z-index: 1;
        padding: 30% 0;
        gap: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--webkit-color-transparency-1);
        backdrop-filter: blur(12px);
        transition-duration: 1s;
        flex-direction: column;
        border-radius: 2em;
    }

  #nav-menu > div:first-child > ul li a {
    color: #FFFFFF;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: var(--font-tittle-1);
  }

  .current_page {
    background: #FFFFFF;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
  }

  #nav-menu > div:first-child > ul > li:last-child {
    display: block;
    position: absolute;
    right: 2em;
    top: 2em;
  }

  #nav-menu > div:first-child > ul > li:last-child > i {
    color: var(--webkit-color-details);
    font-size: 2em;
    cursor: pointer;
  }

  .fa-solid, .fas {
    font-weight: 900;
  }

  h1 {
    font-size: 5em;
  }

  #first-part, #second-part, #third-part, #fourth-part, #fifth-part, #first-part2, #second-part2, #third-part2, #fourth-part2, #fifth-part2, #sixth-part2, #seventh-part2 , #eighth-part2 , #ninth-part2 , #tenth-part2 , #eleventh-part2, #twelfth-part2 {
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  } 

  #second-part >div, #third-part >div, #second-part2 >div, #third-part2 >div, #fourth-part2 >div, #fifth-part2 >div, #sixth-part2 >div, #seventh-part2 >div , #eighth-part2 >div , #ninth-part2 >div , #tenth-part2 >div, #eleventh-part2 >div, #twelfth-part2 >div {
  flex-direction: column-reverse;
  gap: 4em;
  }

  #second-part p, #third-part p, #fourth-part p, #fifth-part p, footer p, #modal-form p, #second-part2 p, #third-part2 p, #fourth-part2 p, #fifth-part2 p, #sixth-part2 p, #seventh-part2 p , #eighth-part2 p , #ninth-part2 p , #tenth-part2 p, #eleventh-part2 p, #twelfth-part2 p {
  font-size: 0.9em;
  } 

  #second-part img, #third-part img {
    height: 43vh;
  }

  .photos img {
    height: 50vh;
  }

  #second-part2 >div, #third-part2 >div, #fourth-part2 >div, #fifth-part2 >div, #sixth-part2 >div, #seventh-part2 >div , #eighth-part2 >div , #ninth-part2 >div , #tenth-part2 >div, #eleventh-part2 >div, #twelfth-part2 >div {
  gap: 0em;
  }

  #second-part2 img, #third-part2 img, #fourth-part2 img, #fifth-part2 img, #sixth-part2 img, #seventh-part2 img , #eighth-part2 img , #ninth-part2 img , #tenth-part2 img, #eleventh-part2 img {
    height: 48vh;
  }

  .stack {
    overflow: hidden;
    height: 36vh;
    margin-top: 1em;
  }

  #fifth-part >div {
    gap: 4em;
    display: flex;
    flex-direction: column;
  }

  #twelfth-part2 p {
    margin-top: 2em;
  }

  iframe {
    width: 74vw;
    height: 38vh;
  }

  footer {
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    gap: 0em;
    flex-direction: column;
  }

  footer p {
    max-width: 81vw;
  }

  #more-info {
    margin-top: 5em;
  }

  form {
    width: 22em;
  }

  #name, #surname, #email, .confirm {
    height: 2em;
    font-size: 1em;
  }

  .confirm {
    margin-top: 1.2em;
    width: 50vw;
  }

  #modal-form {
    height: 40vh;
    top: 25vh;
    width: 63vw;
  }

  #back-home {
    margin-top: 3em;
  }

  #footer-end {
    height: 30vh;
  }

  #logo-footer {
    height: 0;
  }

  #logo-footer img {
    height: 7vh;
  }

  .social-webs {
    margin-top: 4em;
  }
}